body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background-color: #FDFAEC;
	overflow: scroll;
}

body::-webkit-scrollbar { 
    display: none; 
} 

.wrapper {
	margin-top: 50px;
	margin-bottom: 50px;
	max-width: 2400px;
}

.cards {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.cards-extra-3 {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
}

.cards-extra-1 {
	width: 60vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
}

.cards-extra-2 {
	width: 30vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.card {
	margin: 0 auto;
	width: 100%;
	box-shadow: 0 0 0 1px #999, inset 0 0 0 1px #999;
}


/* Hero */

.first h1 {
	position: relative;
	margin: 0;
	padding: 50px 140px 60px 140px;
	color: #231f20;
	text-align: center;
	font-size: 100px;
	font-weight: 300;
	font-family: 'Playfair Display', serif;
	z-index: 10;
	pointer-events: none;
}

.jelly {
  position: relative;
}

.jelly-container {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}

.jelly-container, .jelly-canvas {
  width: 320px;
  height: 320px;
}

.centroid-container {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.centroid-text {
  font-size: 100px;
  color: #FECDBC;
}


/* Hero 2 */

.first-2 h1 {
	margin: 0;
	padding: 30px;
	text-align: center;
	font-size: 42px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}

.em-svg {
  height: 1.2em !important;
  width: 1.2em !important;
  margin-left: 20px;
  filter: blur(20px) saturate(70%) brightness(105%);
}

.em-svg:hover {
  filter: blur(0) saturate(70%) brightness(105%);
}

.halloween:hover {
  background-color: #999;
}

h1.halloween-2 {
  webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
  animation-play-state: paused;
}

h1.halloween-2:hover {
  animation-play-state: running;
}

h1.halloween-2:hover span {
  display: none;
}

h1.halloween-2:hover:before {
  content: "Halloween Mode Coming Soon";
  font-size: 42px;
  color: #ffffff;
  font-family: "Macabre", serif;
}

h1.halloween-2:hover:after {
  animation-fill-mode: both;
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@font-face {
    font-family: "Macabre";
    src: url("fonts/Macabrev0.2-Regular.woff2");
}


/* Content */

.second h1 {
  margin: 0;
  padding: 30px;
  font-size: 42px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.second p {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}


/* Baby Names */

p.names {
  text-decoration: line-through;
  margin-top: -8px;
  padding: 0 30px 10px 30px;
  line-height: 1.5;
  color: #777777;
}

p.latest-name {
  padding: 0 30px 30px 30px;
  color: #000000;
}

/* Poll */

.form-radio {
     float: left;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #FECDBC;
     color: #777;
     top: 5px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin: 0 15px 0 30px;
     outline: none;
}

.form-radio:checked::before {
     position: absolute;
     font: 13px/1 'Montserrat', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     color: #000;
     transform: rotate(40deg);
}

.form-radio:hover {
     background-color: #FEA98C;
}

.form-radio:checked {
     background-color: #FECDBC;
}

.vote {
     float: left;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     color: #777;
     background-color: #FDFAEC;
     height: 50px;
     width: 100px;
     border: solid 2px #777;
     border-radius: 5px;
     cursor: pointer;     
     margin-bottom: 30px;
     outline: none;
     font-size: 24px;
     font-family: 'Montserrat', sans-serif;
}

.vote:hover {
  color: #ffffff;
  background-color: #777;
}

#success {
  display: none;
  padding: 10px 0 10px 10px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.second label {
  float: left;
  margin: 0;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}


/* Daisy */

.card.daisy {
  position: relative;
}

.text-top {
  position: absolute;
  padding: 50px;
}

path {
  fill: transparent;
}

text {
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

svg.top {
  position: absolute;
  top: 20px;
}

svg.bottom {
  position: absolute;
  bottom: 20px;
}

.daisy-wrap {
  position: absolute;
}

.daisy-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.zdog-canvas {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	width: 100% !important;
	height: auto !important;
	margin: auto;
	cursor: move;
	float: left;
}

.second .daisy h1 {
	padding: 30px 30px 0 30px;
	font-size: 42px;
  text-align: center;
}

h1.instructions {
  padding: 0;
  font-family: 'Playfair Display', serif;
  text-transform: lowercase !important;
}

.third h1 {
	margin: 0;
	padding: 60px 30px 30px;
	color: #231f20;
	font-size: 52px;
	font-weight: 300;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.third p {
	margin: 0;
	padding: 0 120px 35px 120px;
	font-size: 26px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	letter-spacing: 0.2px;
	text-align: center;
}

.go-container {
	padding: 0 0 70px;
	text-align: center;
}

a {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	position: relative;
	color: #777;
	background-color: #FDFAEC;
	border: solid 2px #777;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

a:hover {
  color: #ffffff;
  background-color: #777;
}


/* Responsive */

@media screen and (min-width: 1408px) {
  
   .daisy-2 {
    margin: 0 40px;
   }

}

@media screen and (min-width: 1488px) {
  
   .daisy-2 {
    margin: 0 70px;
   }

   svg.top {
    top: 10px;
   }

   svg.bottom {
    bottom: 10px;
   }

}

@media screen and (min-width: 1600px) {
  
   .daisy-2 {
    margin: 0 100px;
   }

}

@media screen and (min-width: 1775px) {
  
  .first h1 {
  padding: 50px 240px 60px 240px;
  font-size: 130px;
   }

    .cards-extra-3 {
    width: 90vw;
    flex-wrap: nowrap;
   }

   .cards-extra-1 {
    width: 60vw;
   }

    .cards-extra-2 {
    width: 30vw;
   }

   .jelly-container {
   top: 120px;
   }

   .third p {
  padding: 0 200px 50px 200px;
   }

}

@media screen and (min-width: 1800px) {
  
   .daisy-2 {
    margin: 0 120px;
   }

    svg.top {
    top: 0;
    transform: rotate(9deg);
    transform-origin: 50% 50%;
   }

    svg.bottom {
    bottom: 0;
    transform: rotate(6deg);
    transform-origin: 50% 50%;
   }

   text {
    font-size: 12px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
   }

}

@media screen and (min-width: 2000px) {
  
   .daisy-2 {
    margin: 0 150px;
   }

    svg.top {
    top: -20px;
   }

    svg.bottom {
    bottom: -20px;
   }

}

@media screen and (min-width: 2300px) {
  
   .daisy-2 {
    margin: 0 200px;
   }

   .first h1 {
    padding: 50px 400px 60px 400px;
   }

}


@media screen and (max-width: 1200px) {
  
  .first h1 {
	padding: 50px 30px 60px 30px;
	font-size: 86px;
   }

    .cards-extra-3 {
  	width: 90vw;
  	flex-wrap: wrap;
   }

   .cards-extra-1 {
   	width: 90vw;
   }

    .cards-extra-2 {
   	width: 90vw;
   }

      .jelly-container {
   top: 60px;
   }

   .third p {
   	font-size: 30px;
   }

   .daisy-2 {
    margin: 0 150px;
   }

   svg.top {
    position: relative;
    padding-top: 50px;
   }

    svg.bottom {
    bottom: 80px;
   }

  .em-svg {
    filter: blur(0) saturate(70%) brightness(105%);
  }

}

@media screen and (max-width: 768px) {
  
  .cards {
  	width: 85vw;
  	flex-wrap: wrap;
  }

  .cards-extra-3 {
  	width: 85vw;
  	flex-wrap: wrap;
  }

  .cards-extra-1 {
  	width: 85vw;
  	flex-wrap: wrap;
  }

  .first h1 {
	  padding: 50px 30px 60px 30px;
	  font-size: 62px;
  }

  .jelly-container {
    top: 30px;
  }

  .third p {
   	font-size: 30px;
  }

  .daisy-2 {
    margin: 0 60px;
  }

  svg.top {
    position: relative;
    padding-top: 10px;
  }

  svg.bottom {
    bottom: 30px;
  }

  .em-svg {
    filter: blur(0) saturate(70%) brightness(105%);
  }

@media screen and (max-width: 425px) {

  .first h1 {
	font-size: 42px;
  padding: 50px 50px 60px 50px;
   }

   .first-2 h1 {
	font-size: 24px;
	font-weight: 400;
   }

   .second h1 {
   	font-size: 30px;
   }

   .second p {
   	font-size: 24px;
   }

   .second label {
   	font-size: 24px;
   }

   .form-radio:checked::before {
     top: 0;
   }

   .form-radio {
     top: 0;
   }

   .third h1 {
   	font-size: 36px;
   }

   .third p {
   	font-size: 20px;
   	padding: 0px 20px 40px 20px;
   }

   .jelly-container {
    top: 60px;
   }

  .daisy-2 {
    margin: 0 30px;
  }

  text {
  font-size: 18px;
  }

   svg.top {
    position: relative;
    margin-top: -15px;
    transform: rotate(-7deg);
    transform-origin: 50% 50%;
   }

    svg.bottom {
    bottom: 10px;
    transform: rotate(-2deg);
    transform-origin: 50% 50%;
   }  

}
