* {
  margin: 0;
  padding: 0;
}

/* page one */

#section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #D5CBCA;
}

#section .container {
      display: none;
    }

.container {
  display: flex;
  justify-content: space-between;
  background-color: #D5CBCA;
}

.container div {
  width: 100vw;
  height: 70vh;
}

/** nav bar **/

.nav {
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}

.nav a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav a:link {
  text-decoration: none;
}

.nav2 {
  padding-top: 40px;
  text-align: center;
}

.nav2 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav2 a:link {
  text-decoration: none;
}

.nav3 {
  padding-top: 40px;
  text-align: center;
}

.nav3 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav3 a:link {
  text-decoration: none;
}

.nav4 {
  padding-top: 40px;
  text-align: center;
}

.nav4 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav4 a:link {
  text-decoration: none;
}

.nav5 {
  padding-right: 50px;
  padding-top: 40px;
  text-align: center;
}

.nav5 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav5 a:link {
  text-decoration: none;
}


/** page arrows **/

.arrow:before {
  content: "";
  position: absolute;
  left: 50%;
}

.arrow {
  display: block;
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 90vh;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: .23vh #32174D solid;
  border-bottom: .23vh #32174D solid;
}


/** flower images **/

.flower img {
  display: block;
  position: absolute;
  top: 15vh;
  right: 5vw;
  width: 50vw;
  
}

.flower2 img {
  display: block;
  position: absolute;
  top: 145vh;
  width: 25vw;
}

.flower3 img {
  display: block;
  position: absolute;
  top: 275vh;
  right: 0;
  height: 15vw;
}


/** pop-ups **/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  border: solid 1vh;
  padding: 20px;
  color: #32174D;
  background: #fff;
  width: 45%;
  position: relative;
  top: 25vh;
  transition: all 5s ease-in-out;
}

.content {
  font-size: 2.5vh;
  line-height: 170%;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.content a {
  position: relative;
  bottom: 1vh;
  right: .5vw;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  transition: all 200ms;
  font-weight: 400;
  color: #32174D;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.content a:link {
  text-decoration: none;
}

.content a:hover {
  color: #D3AF35;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #32174D;
}

.popup .close:hover {
  color: #D3AF35;
}

.popup .content {
  max-height: 40%;
  overflow: auto;
}


/** page one copy **/

a span {
  border: solid .15em #32174D;
  padding: 10px 14px 10px 14px
}

.intro {
  position: absolute;
  top: 20vh;
  width: 100%;
  font-style: italic;
  font-size: 10vw;
  font-weight: 400;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.intro .double-1 a {
  position: absolute;
  top: 25vw;
  left: 43vw;
  width: 5%;
  font-weight: 400;
  font-style: normal;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
  
}

.intro .double-2 a {
  position: absolute;
  top: 25vw;
  right: 43vw;
  width: 5%;
  font-weight: 400;
  font-style: normal;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
  
}

.intro a:link {
  text-decoration: none;
}

.double-1 a span:hover {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Droid Serif', serif;
  border: none;
}

.double-2 a span:hover {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  font-family: 'Droid Serif', serif;
  border: none;
}


/* page two */

.navcode a {
  position: absolute;
  top: 100vh;
}

.container1 {
  display: flex;
}

.container1 div {
  width: 100vw;
}

.getting-there {
  background-color: #E9EAEE;
  padding: 160px 0 160px 0;
}

.getting-there h1 {
  position: absolute;
  width: 100%;
  font-size: 56px;
  font-weight: 700;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.getting-there-p-1 {
  padding: 100px 150px 0 150px;
  text-align: center;
}

.getting-there-p-1 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.getting-there a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.getting-there a:link {
  text-decoration: none;
}


/* page three */

.navcode2 a {
  position: absolute;
  top: 155vh;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.container2 div {
  width: 100vw;
}

.lodging {
  background-color: #FBFBFB;
  padding: 160px 0 180px 0;
}

.lodging h1 {
  position: absolute;
  width: 100%;
  font-style: normal;
  font-size: 56px;
  font-weight: 700;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.lodging-p-1 {
  padding-top: 130px;
  padding-left: 22vw;
  max-width: 25vw;
  text-align: center;
}

.lodging-p-1 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.lodging-p-1 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.lodging-p-1 a:link {
  text-decoration: none;
}

.lodging-p-3 {
  padding-top: 130px;
  padding-right: 22vw;
  max-width: 25vw;
  text-align: center;
}

.lodging-p-3 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.lodging-p-3 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.lodging-p-3 a:link {
  text-decoration: none;
}

.navcode3 a {
  position: absolute;
  top: 300vh;
}


/* page four */


.container3 {
  display: flex;
  justify-content: space-between;
}

.container3 div {
  width: 100vw;
}

.registry {
  background-color: #DFEBDF;
  padding: 160px 0 160px 0;
}

.registry h1 {
  position: absolute;
  width: 100%;
  font-style: normal;
  font-size: 56px;
  font-weight: 700;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-1 {
  display: block;
  padding-top: 130px;
  padding-left: 6vw;
  max-width: 25vw;
  text-align: center;
}

.registry-p-1 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-1 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.registry-p-1 a:link {
  text-decoration: none;
}

.registry-p-2 {
  padding-top: 130px;
  max-width: 25vw;
  text-align: center;
}

.registry-p-2 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-2 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.registry-p-2 a:link {
  text-decoration: none;
}

.registry-p-3 {
  padding-top: 130px;
  padding-right: 6vw;
  max-width: 25vw;
  text-align: center;
}

.registry-p-3 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-3 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.registry-p-3 a:link {
  text-decoration: none;
}

.navcode4 a {
  position: absolute;
  top: 410vh;
}


/* page five */



.container4 {
  display: flex;
  justify-content: space-between;
}

.container4 div {
  width: 100vw;
}

.container4-1 {
  display: flex;
  justify-content: space-between;
}

.container4-1 div {
  width: 100vw;
}

.activities {
  background-color: #ffe4cd;
  padding: 160px 0 160px 0;
}

.activities h1 {
  position: absolute;
  width: 100%;
  font-style: normal;
  font-size: 56px;
  font-weight: 700;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-1 {
  padding-top: 130px;
  padding-left: 6vw;
  max-width: 25vw;
  text-align: center;
}

.activities-p-1 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-1 a {
  border: solid .15em;
  margin-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.activities-p-1 a:link {
  text-decoration: none;
}

.activities-p-2 {
  padding-top: 130px;
  max-width: 25vw;
  text-align: center;
}

.activities-p-2 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-2 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.activities-p-2 a:link {
  text-decoration: none;
}

.activities-p-3 {
  padding-top: 130px;
  padding-right: 6vw;
  max-width: 25vw;
  text-align: center;
}

.activities-p-3 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-3 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.activities-p-3 a:link {
  text-decoration: none;
}

.activities-p-4 {
  padding-top: 130px;
  padding-left: 6vw;
  max-width: 25vw;
  text-align: center;
}

.activities-p-4 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-4 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.activities-p-4 a:link {
  text-decoration: none;
}

.activities-p-5 {
  padding-top: 130px;
  max-width: 25vw;
  text-align: center;
}

.activities-p-5 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-5 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.activities-p-5 a:link {
  text-decoration: none;
}

.activities-p-6 {
  padding-top: 130px;
  padding-right: 6vw;
  max-width: 25vw;
  text-align: center;
}

.activities-p-6 p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.activities-p-6 a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.activities-p-6 a:link {
  text-decoration: none;
}

/* page six */

.schedule {
  background-color: #E9EAEE;
  padding: 160px 0 160px 0;
}

.schedule h1 {
  position: absolute;
  width: 100%;
  font-size: 56px;
  font-weight: 700;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.schedule-event {
  padding: 100px 150px 0 150px;
  text-align: center;
}

.schedule-event p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

/* page seven */

.navcode5 a {
  position: absolute;
  top: 600vh;
}

.container5 {
  display: flex;
  justify-content: space-between;
}

.container5 div {
  width: 100vw;
}.container4 {
  display: flex;
  justify-content: space-between;
}

.container4 div {
  width: 100vw;
}

.soon {
  background-color: #fff;
  padding: 160px 0 200px 0;
}

.soon h1 {
  position: absolute;
  width: 100%;
  font-style: normal;
  font-size: 56px;
  font-weight: 700;
  color: #D3AF35;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.soon-p-1 {
  padding-top: 80px;
  text-align: center;
}

.soon p {
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.2vw;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.soon a {
  border: solid .15em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 18px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.soon a:link {
  text-decoration: none;
}

.image-swap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  width: 100px;
  height: 175px;
  background-image: url(http://payload308.cargocollective.com/1/6/208850/8471571/Bonnie-04.png);
  background-position: 0 0;
}

.image-swap:hover {
  background-position: 0 100%;
}








/* responsive & mobile */

@media screen and (max-width: 1200px) {
    .activities-p-1 p,
    .activities-p-2 p,
    .activities-p-3 p,
    .activities-p-4 p,
    .activities-p-5 p,
    .activities-p-6 p {
      font-size: 2vw;
    }
    .intro .double-1 a {
      font-size: 1.5vw;
      left: 42vw;
    }
    .intro .double-2 a {
      font-size: 1.5vw;
      right: 42vw;
    }
}


@media screen and (max-width: 979px) {
    .getting-there p {
      font-size: 3vw;
    }
    .flower img,
    .flower2 img,
    .flower3 img {
      display: none;
    }
    #section .container {
      display: none;
    }
}

@media screen and (max-width: 659px) {
    .intro {
      display: block;
      width: 100%;
      padding-left: 10px;
      font-size: 20vw;
      text-align: left;
      line-height: 30vw;
    }
    .intro .double-1 a {
      position: absolute;
      display: block;
      width: 100vw;
      top: 85vw;
      left: 0;
    }
    .intro .double-2 a {
      position: absolute;
      display: block;
      width: 100vw;
      top: 100vw;
      left: 0;
    }
  
    h1 {
      display: block;
      width: 100%;
      font-size: 48px !important;
    }
  
    .arrow,
    .arrow1,
    .arrow2,
    .arrow3,
    .arrow4,
    .arrow5 {
      display: none;
    }
  
  /* registry mobile */
  
  .getting-there-p-1 {
    padding: 20px 20px;
  }
  
    .getting-there p {
      display: block;
      float: none;
      font-size: 5vw;
      padding-top: 20vw;
    }
  
  
    div .lodging-p-1,
    div .lodging-p-2,
    div .lodging-p-3,
    div .lodging-p-4,
    div .lodging-p-5,
    div .lodging-p-6{
      display: block;
      float: none;
      min-width: 85vw;
      margin: 0 auto;
      padding: 5vw 0 0 0;
    }
  
    div .lodging-p-1 p,
    div .lodging-p-2 p,
    div .lodging-p-3 p,
    div .lodging-p-4 p,
    div .lodging-p-5 p,
    div .lodging-p-6 p{
      display: block;
      width: 100%;
      font-size: 5vw;
      padding-top: 10vw;
    }
  
    .container2 {
      display: block;
      width: 100%;
      justify-content: normal;
      padding-top: 10vw;
    }
  
    .container2 div {
      width: 100vw;
    }
  
  
  /* registry mobile */
  
  
    div .registry-p-1,
    div .registry-p-2,
    div .registry-p-3,
    div .registry-p-4,
    div .registry-p-5,
    div .registry-p-6{
      display: block;
      float: none;
      min-width: 85vw;
      margin: 0 auto;
      padding: 5vw 0 0 0;
    }
  
    div .registry-p-1 p,
    div .registry-p-2 p,
    div .registry-p-3 p,
    div .registry-p-4 p,
    div .registry-p-5 p,
    div .registry-p-6 p{
      display: block;
      width: 100%;
      font-size: 5vw;
      padding-top: 10vw;
    }
  
    .container3 {
      display: block;
      width: 100%;
      justify-content: normal;
      padding-top: 10vw;
    }
  
    .container3 div {
      width: 100vw;
    }
  
  /* activities mobile */
  
  
  
    div .activities-p-1,
    div .activities-p-2,
    div .activities-p-3,
    div .activities-p-4,
    div .activities-p-5,
    div .activities-p-6 {
      display: block;
      float: none;
      min-width: 85vw;
      margin: 0 auto;
      padding: 5vw 0 0 0;
    }
  
    div .activities-p-1 p,
    div .activities-p-2 p,
    div .activities-p-3 p,
    div .activities-p-4 p,
    div .activities-p-5 p,
    div .activities-p-6 p {
      display: block;
      width: 100%;
      font-size: 5vw;
      padding-top: 10vw;
    }
  
    .container4 {
      display: block;
      width: 100%;
      justify-content: normal;
      padding-top: 10vw;
    }
  
    .container4-1 {
      display: block;
      width: 100%;
      justify-content: normal;
    }
  
    .soon p {
      font-size: 5vw;
    }
  
}

